.navbar{
    background-color:rgb(186, 186, 8);
}


img{
    object-fit: cover;
}
    
@media screen and (min-width: 799px){
    .content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5rem 3rem;
    }
    .side{
        margin-bottom: 3rem;
        width: 100%;
    }
}
    

